name: build

on:
    pull_request: &ignore-paths
        paths-ignore:
            - 'docs/**'
            - '.github/CONTRIBUTING.md'
            - '.github/FUNDING.yml'
            - '.github/SECURITY.md'
            - 'README.md'
            - 'CHANGELOG.md'
            - 'LICENSE.md'
            - '.gitignore'
            - '.gitattributes'
            - '.editorconfig'
            - 'docker-compose.yml'
            - 'Makefile'

    push: *ignore-paths

jobs:
    phpunit:
        uses: yiisoft/yii2-actions/.github/workflows/phpunit.yml@master
        secrets:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
